 * {
  box-sizing: border-box;
}
/*
body {
  font-family: "Open Sans", sans-serif;
  margin: 1rem;
}

p {
  font-size: 1rem;
  max-width: 60em;
}
*/
details {
 /* max-width: 60ch; 
    max-width: 95%; */
    padding-left: 1%; 
    padding-right: 1%;
    font-weight: bold;
  
	&[open] summary::after {
		rotate: -180deg;
	}
  
  summary {
    /* Override default "display: list-item" and position the summary text as well as the custom arrow icon */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
    /* General styling */
    background-color: lightgray; 
    cursor: pointer;
    /*font-weight: 500;*/
    font-weight: bold;
    margin-block-end: 0.5rem;
    padding: 1rem;
    padding-left: 1%; 
    padding-right: 1%;
    
		/* Fallback code to hide standard marker, especially on Safari */
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
    
    &::after {
      /* CSS for chevron shape from https://css-shape.com/chevron/ */
      --shape-chevron-width: 1rem;
      --s: calc(var(--shape-chevron-width) / 4);

      /* Styling */
      content: "";
      aspect-ratio: 7/5;
      background: currentColor;
      clip-path: polygon(0 0, 0 var(--s), 50% 100%, 100% var(--s), 100% 0, 50% calc(100% - var(--s)));
      flex-shrink: 0;
      width: var(--shape-chevron-width);
      
      /* Animation */
			rotate: 0deg;
			transition: rotate 0.35s ease;
    }
  }
}